version: '3.8'

services:
  caddy:
    image: caddy:latest
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - directus
      - evolution

  directus:
    image: directus/directus:latest
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - directus_uploads:/directus/uploads
      - directus_database:/directus/database
    environment:
      KEY: "${KEY}"
      SECRET: "${SECRET}"
      ADMIN_EMAIL: "${ADMIN_EMAIL}"
      ADMIN_PASSWORD: "${ADMIN_PASSWORD}"
      DB_CLIENT: "pg"
      DB_HOST: "127.0.0.1"
      DB_PORT: "5432"
      DB_DATABASE: "${POSTGRES_DB}"
      DB_USER: "${POSTGRES_USER}"
      DB_PASSWORD: "${POSTGRES_PASSWORD}"
      REDIS: "redis://:${REDIS_PASSWORD}@127.0.0.1:6380"
      PUBLIC_URL: "${PUBLIC_URL}"
    depends_on:
      - postgres
      - redis

  evolution:
    image: atendai/evolution-api:v2.2.2
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - evolution_store:/evolution/store
    environment:
      AUTHENTICATION_API_KEY: "${AUTHENTICATION_API_KEY}"
      DATABASE_PROVIDER: "postgresql"
      DATABASE_CONNECTION_URI: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@127.0.0.1:5432/${POSTGRES_DB}"
      DATABASE_CLIENT_NAME: "evolution_v2"
      SERVER_URL: "http://167.126.22.249:8080"
      CONFIG_SESSION_PHONE_VERSION: "2.3000.1028716292"
      REDIS_ENABLED: "true"
      REDIS_URI: "redis://:${REDIS_PASSWORD}@127.0.0.1:6380/1"
      CACHE_REDIS_ENABLED: "false"
      # CACHE_REDIS_URI: "redis://:${REDIS_PASSWORD}@127.0.0.1:6380/1"
      # REDIS_HOST: "127.0.0.1"
      # REDIS_PORT: "6380"
      # REDIS_PASSWORD: "${REDIS_PASSWORD}"
      # REDIS_DB: "1"
    depends_on:
      - postgres
      - redis

  worker:
    build: ./worker
    restart: unless-stopped
    network_mode: "host"
    environment:
      GROQ_API_KEY: "${GROQ_API_KEY}"
      EVOLUTION_URL: "${EVOLUTION_URL}"
      EVOLUTION_API_KEY: "${EVOLUTION_API_KEY}"
      DIRECTUS_URL: "${DIRECTUS_URL}"
      DIRECTUS_STATIC_TOKEN: "${DIRECTUS_STATIC_TOKEN}"
      REDIS_HOST: "127.0.0.1"
      REDIS_PORT: "6380"
      REDIS_PASSWORD: "${REDIS_PASSWORD}"
    depends_on:
      - directus
      - evolution
      - redis

  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    network_mode: "host"
    command: redis-server --port 6380 --bind 0.0.0.0 --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data

volumes:
  caddy_data:
  caddy_config:
  directus_uploads:
  directus_database:
  evolution_store:
  postgres_data:
  redis_data:
